.header{
    background-color:#38ac4b;
    height:62px;
    position:relative;
    z-index:201;
    border-radius: calc(var(--curve) * 1px);
    
}
.header__container{
    align-items:center;
    display:flex;
    height:62px;
    justify-content:space-between;
    padding-left:16px;
    padding-right:16px;
}

@media screen and (max-width: 600px) {
.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }
}
  

 img {
    border-radius: 5px 5px 0 0;
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
  }

  @media screen and (max-width: 600px) {

.card{
    float: left;
    width: 33.33%;
    display: block;
  }
}
  
  /* Clear floats after the columns */
.page-block-1:after {
    content: "";
    display: table;
    clear: both;
  }

.topnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(51, 51, 51);
    overflow: hidden;
    width: 100% ;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #08d43b;
    color: white;
}
body {
  padding: 50px;  
}

.progress-bg {
	margin: 0 auto;
	width: 65%;
	height: 78px;
	border-radius: 10px;
  text-align: center;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}

.progress-bar {
	height: 78px;
	border-radius: 10px;
	float: left;
	width: 50%;
	
	background-color: #1c314a; 
	
}

.progress-bg h3.goal, .progress-bg h3.raised {
	font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 600;
	line-height: 78px;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
}



:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #38ac4b;
}
.Titulo {
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5%;
  color: #033500;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #31c55e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #68c484;  
}

.card__status {
  font-size: .8em;
  color: #71af84;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #489760;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}   
hr.rounded {
  border-top: 8px solid #033500;
  border-radius: 5px;
  margin-top: 125px;
  color: #033500;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #38ac4b;
  color: white;
}